<div class="single-page">
	<h1>Great Reads</h1>
	<%=image_tag "blue_book.png", style: "margin-top: 40px" %>
	<p id="description">Clean online ereader</p>
	<%= link_to "Sign in with Google", '/auth/google_oauth2', class: 'sign-in' %>
	<div id="icon_credits">© 2015 Mitchell Kember, Michael Min. Created at Hack the North 2015.
		<a href="https://github.com/mk12/great-reads" title="Source on GitHub">Source on GitHub</a>.
		<br>
		Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
</div>
