/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	font: 22px 'Gill Sans', serif;
	color: #444;
}

.wrapper {
	margin-top: 80px;
	padding: 0 10px;
}

.single-page {
	max-width: 650px;
	margin: 0 auto;
	text-align: center;
}

h1 {
	font-size: 50px;
	margin-bottom: 40px;
}

a {
	color: #07b;
	text-decoration: none;
}

p {
	margin-bottom: 2em;
}

a:hover {
	border-bottom: 2px solid #07b;
}

em {
	font-style: italic;
}

.sign-in {
	border: 1px solid #07b;
	border-radius: 5px;
	padding: 10px;
}

.sign-in:hover {
	background: #07b;
	color: #fff;
	border: none;
}

.sign-out {
	text-align: right;
	font-size: 16px;
	margin-top: 60px;
	line-height: 0;
}
