// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book-list {
	display: flex;
	flex-flow: row wrap;
}

.book-item {
	width: 140px;
	height: 150px;
	padding: 50px 5px 0;
	border: 1px solid #000;
	display: inline-block;
	margin: 5px;
}

.book-item em {
	color: #000;
	margin-top: 20px;
	display: block;
	font-size: 18px;
}

.book-item:hover {
	border: 1px solid #000;
	background: #7bbde3;
	color: #fff;
}

.add-book {
	font-size: 75px;
	font-weight: 100;
}

header, footer {
	text-align: center;
}

footer {
	margin: 50px 0;
}

footer span {
	margin: 0 20px;
}

.main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#Background {
	margin-right: 10px;
}

#Background a {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: solid 1px #07b;
	margin: 3px;
}

#Background a:hover {
	border:solid 1px #000;
	border-radius: 10px;
}

.content {
	text-rendering: optimizeLegibility;
	max-width: 580px;
	text-align: justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
	line-height: 1.3em;
}

#left-bar {
	width: 200px;
}

#right-bar {
	width: 200px;
	text-align: right;
}

#FontFamily {
	margin-right: 10px;
}

#FontSize {
	margin-right: 10px;
}

#FontSize li, #Leading li, #Background li {
	display: inline;
}

#FontSize a {
	border: 1px solid #07b;
	border-radius: 5px;
	height: 30px;
	padding-left: 5px;
	padding-right: 5px;
}

#FontSize li:first-child a {
	padding-top: 7px;
	padding-bottom: 2px;
}

#FontSize li:nth-child(2) a {
	padding-top: 4px;
	padding-bottom: 1px;
}

#FontSize a:hover {
	background: #07b;
	color: #fff;
}

#Leading {
	margin-right: 10px;
}

#Leading a {
	border: 1px solid #07b;
	border-radius: 5px;
	height: 30px;
	padding-left: 2px;
	padding-right: 2px;
}

#Leading li:first-child a{
	padding-bottom: 4px;
	padding-top: 5px;
}

#Leading li:nth-of-type(2) a{
	padding-bottom: 2px;
	padding-top: 3px;
}

#Leading a:hover {
	background: #07b;
	color: #fff;
}

.options {
	margin-bottom: 20px;
}

.content h1 {
	font-size: 26px;
	text-align: center;
}

.content h2 {
	font-weight: bold;
	margin: 20px 0 10px;
	text-align: center;
}

.content p {
	text-indent: 40px;
	margin-bottom: 10px;
}

.smcap {
	font-variant: small-caps;
}
